*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-btn{
  display: inline-block;
}

.form-btn button{
  padding: 0 30px;
}

.form-container{
  width: 300px;
  position: relative;
  text-align: center;
  min-height: 400px;
  padding: 10px;
  overflow-x: hidden;
  border-radius: 5px;
}

.form-container form{
  position: absolute;
  width: 100%;
  transition: .8s;
  overflow-y: scroll;
  scrollbar-width: none;
}

#loginForm{
  left: 0;
  padding: 10px;
}

#signupForm{
  left: 300px;
  padding: 10px;
}

input{
  margin-bottom: 20px !important;
}

hr{
  height: 3px;
  width: 100px;
  margin: 8px 0 !important;
  transform: translateX(0);
  transition: .8s;
}